body {
  image-rendering: src;
  background-image: url(../Midia/planodefundo.jpg);
  background-size: cover;
}
.head {
  display: flex;
}
.opcoes {
  justify-content: center;
  margin-top: 5%;
  margin-left: 10%;
}
button {
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 100px;
  font-family: roboto, sans-serif;
  
}

button:hover {
  color: yellow;
}

button:focus {
  color: yellow;
  outline: none;
}
