* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../Midia/planodefundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.opcoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opcoes ul {
  display: flex;
  list-style: none;
}

.opcoes ul li {
  margin: 0 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.opcoes ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 10px;
  transition: color 0.3s, transform 0.3s;
  font-size: 1em;
}

.opcoes ul li a.active {
  color: #ffff00;
  transform: scale(1.1);
}

.opcoes ul li a:hover {
  color: #ffff00;
  transform: scale(1.1);
}

#iframe-container {
  margin: 200px auto 20px auto;
  width: 80%;
  text-align: center;
}

#iframe-content {
  width: 70vw; 
  height: 69vh; 
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
}
