body {
    image-rendering: src;
    background-image: url(../Midia/pexels-nickoloui-1319459.jpg);
    background-size: cover;
  }
  .head {
    display: flex;
  }
  .opcoes {
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
  }
  .logo {
    margin-left: 2%;
  }
  button {
    background: none;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    color: yellow;
  }
  
  button:focus {
    color: yellow;
    outline: none;
  }
  